.n {
  color: red;
}
#typing-effect {
  font-size: 30px; /* Large text */
  font-weight: bold; /* Bold text */
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}
