body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; 
}

header {
  background-color: #5c4b8a; 
  color: white;
  padding: 20px;
  position: relative;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #f1e6ff; 
}

.search-bar input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.search-bar input:focus {
  background-color: #e0d8e6; 
}


main {
  display: flex;
  margin: 20px;
}

/* Section styles */
.featured-posts,
.latest-posts {
  flex: 1;
  margin-right: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Sidebar styles */
aside.sidebar {
  width: 250px;
  margin-left: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
footer {
  text-align: center;
  padding: 10px;
  background-color: #5c4b8a;
  color: white;
  position: relative;
}

footer a {
  color: #f1e6ff; 
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #ffffff; 
}