<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="static/css/forgot.css">
</head>
<body>
    <div class="forgot-container">
        <div class="login-box">
            <h1>Reset your Password</h1>
            <div class="button-group">
            <p>Please enter your email address to reset your password.</p>
            <form action="{{ url_for('send_reset_email') }}" method="POST">
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Enter your username or email" required>
                </div>
                <button type="submit" class="reset-btn">Send Reset Link instructions</button>
            </form>
            <p><a href="templates/login.html">Back to Login</a></p>
        </div>
    </div>
</body>
</html>
