<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1 class="logo">TREEFREE</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <div class="button-group">
                <button class="signin-button active">Sign In</button>
                <a href="{{ url_for('signup') }}"><button class="signup-button">Sign Up</button></a>
            </div>
            <button class="google-login">Sign in with Google</button>
			<form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <input type="text" name="login" placeholder="Enter your username or email" required>
                <input type="password" name="password" placeholder="Enter your Password" required>
                <button type="submit" class="login-btn">Log In</button>
            
                <div class="remember-me">
                    <label for="remember-me">
                        <input type="checkbox" id="remember-me" name="remember-me">
                        Remember me
                    </label>
                </div>
            </form>
            <a href="{{ url_for('forgot_password') }}">Forgot your password?</a>
        </div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/login.js') }}">
</body>
</html>
